TOKEN = TOKEN_HERE
brand_name='ZyroX'
NEXT_PUBLIC_BRAND_NAME='ZyroX'



# ON CMD RUN 
WEBHOOK_URL="https://discord.com/api/webhooks/"

DASHBOARD_API_KEY="ZYROX_SECURE_API_KEY_12345"

# DASHBOARD WILL BE UPLOADED LATER 
#  CODEX DEVS
